<!DOCTYPE html>
<html>
<head>
    <title>Music Garage Calculator</title>

    <!-- FAVICON -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- MY CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat:wght@100;400;900&family=Outfit:wght@400;700&family=Sacramento&family=Ubuntu&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <!-- Your app content goes here -->
        <h1 class="main_title">Music Garage Calculator</h1>
        {% block content %}{% endblock %}
    </div>
</body>
</html>